.gallery {
  display: inline-block;
}

@media (min-width: 768px) {
  .gallery {
    display: flex;
  }
}

.gallery-image {
  margin: 0;
}

.gallery-image:not(:first-child) {
  margin-left: var(--space-sm);
}

.gallery-caption {
  margin-top: var(--space-xxs);
  font-size: var(--text-xs);
  text-align: center;
}